<template>
  <el-card shadow="always">
    <el-row>
      <el-col :span="8" :offset="8">
        <a href="/">
          <img :src="require(`@/assets/images/logo.png`)"
               style="width: 100%;">
        </a>
      </el-col>
    </el-row>
    <div v-if="!started">
      <el-row>
        <el-col :span="16" :offset="4">
          <h2>Кто ты из преподавателей Умскул?</h2>
          <el-button type="success" v-on:click="started = true">Старт</el-button>
        </el-col>
      </el-row>
    </div>
    <div v-else>
      <div v-if="finished">
        <h3>Результаты теста</h3>
        <img v-bind:src="require(`@/assets/images/${this.winner.key}.jpg`)" class="result-photo">
        <div>Поздравляю! Ты - <a v-bind:href="this.winner.link" target="_blank">{{this.winner.name}}</a></div>
        <div>{{this.winner.text}}</div>
        <br>
        <!--eslint-disable no-irregular-whitespace-->
        <social-sharing url="http://umschool.net/prepodtest/"
                        v-bind:title="`Пройди тест и узнай кто ты из преподавателей УМСКУЛ! Я - ${this.winner.name}`"
                        v-bind:description="'Пройди тест и узнай кто ты из преподавателей УМСКУЛ! Я - '+this.winner.name"
                        inline-template>
          <div>
            <network network="vk" style="
    background: #4a76a8;
    padding: 5px;
    border: 1px solid white;
    color: white;
    border-radius: 7px;
    cursor: pointer;
">
              <i class="el-icon-share"></i> Поделиться в VK
            </network>
          </div>
        </social-sharing>
      </div>
      <div v-else>
        <h3 v-html="this.current_question.question"></h3>
        <el-row v-if="this.current_question.img_url">
          <el-col :span="8" :offset="8">
            <img :src="require(`@/assets/images/${this.current_question.img_url}`)"
                 style="width: 100%;">
          </el-col>
        </el-row>
        <el-row v-for="
/* eslint-disable vue/valid-v-for */
item in this.current_question.answers" v-bind:key="text">
          <el-button size="medium" v-on:click="answer(item)" class="my-btn">{{item.text}}</el-button>
        </el-row>
      </div>
    </div>
  </el-card>
</template>

<script>
import data from '../assets/data'

export default {
  name: 'SinglePool',
  data () {
    const keys = data.people.map(el => el.key)
    const results = {}
    keys.forEach((k) => {
      results[k] = 0
    })

    return {
      data: data,
      current_index: 0,
      current_question: data.questions[0],
      people_keys: keys,
      results: results,
      finished: false,
      started: false,
      winner: null
    }
  },
  components: {},
  methods: {
    printAllResults () {
      // console.log(this.results)
    },
    answer (obj) {
      this.printAllResults()
      obj.value.forEach((el) => {
        this.results[el.key] += el.value
      })
      // console.log('You choosed ' + obj.text)
      this.printAllResults()
      this.nextQuestion()
    },
    nextQuestion (obj) {
      this.finished = ((this.data.questions.length - 1) === this.current_index)
      if (!this.finished) {
        this.current_index += 1
        this.current_question = this.data.questions[this.current_index]
      } else {
        this.getWinner()
      }
    },
    getWinner (obj) {
      let maxValue = -1
      let maxKey = -1
      Object.keys(this.results).forEach((key) => {
        if (this.results[key] > maxValue) {
          maxValue = this.results[key]
          maxKey = key
        }
      })

      this.winner = this.data.people.filter(obj => {
        return obj.key === maxKey
      })[0]
    }

  }
}
</script>

<style>
  .el-row {
    margin-bottom: 10px;
  }

  .el-button--medium {
    min-width: 270px;
  }

  .result-photo {
    width: auto;
    max-width: 100%;
    max-height: 350pt;
  }

  .my-btn {
    background: #fff !important;
    border: 1px solid #dcdfe6 !important;
    color: #606266 !important;
  }

  .my-btn:hover {
    color: #409EFF !important;
    border-color: #c6e2ff !important;
    background-color: #ecf5ff !important;
  }

</style>
