<template>
  <div id="app">
    <vue-headful
      title="Кто ты из преподавателей УМСКУЛ?"
      :image="require(`@/assets/images/bg.jpg`)"
    />
    <el-row type="flex" class="row-bg" justify="space-between">
      <el-col :md="4" :xs="0" class="hidden-lg-and-down">
        <div class="grid-content"></div>
      </el-col>
      <el-col :md="16" :xs="24">
        <div class="grid-content">
          <SinglePool/>
        </div>
      </el-col>
      <el-col :md="4" :xs="0" class="hidden-lg-and-down">
        <div class="grid-content"></div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import SinglePool from './components/SinglePoll'

export default {
  name: 'App',
  components: {
    SinglePool
  }
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
